.App {
  text-align: center;
  background-color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333;
  min-height: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0;
  font-family: 'Bodoni Moda', serif;
  font: 'Bodoni Moda';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  height: 100vh;
}

.container > * {
  flex: 1;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
